.background {
    color: #c0a3bf;
    background-color: #241f49;
}

.titlebar {
    background: #241f49 !important;
    color: #c0a3bf !important;
}

.titlebar:backdrop {
    background: #722664 !important;
}